@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(250, 250, 250);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  max-width: 1584px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.container h1 {
  font-family: "IBM Plex Sans", sans-serif;
  color: rgb(250, 250, 250);
  font-size: 54px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.2);
}

.img-container {
  height: 400px;
}

img {
  height: 100%;
}

/* ANIMATED TEXT */
.animate-text-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

.fixed-text {
  font-weight: 400;
  letter-spacing: 3px;
}

/* FORM */
.form-container {
  height: 55px;
  width: 550px;
}

form {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr max-content;
  gap: 16px;
  width: 100%;
  height: 100%;
}

input {
  padding: 16px;
  border-radius: 16px;
  box-shadow: rgb(255, 0, 0) 0px 0px 0px 1px inset;
  appearance: none;
  outline: none;
  border: none;
}

button {
  padding: 16px;
  border-radius: 16px;
  font-size: 16px;
  outline: none;
  border: none;
  appearance: none;
  font-weight: 600;
  font-family: "proxima nova Regular", "proxima nova", Inter, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  cursor: pointer;
  transition: all 0.5s ease;
}
button:hover {
  background-color: rgb(198, 198, 198);
  /* background-color: rgb(224, 224, 224); */
}

/* MEDIA SCREENS */
@media screen and (max-width: 1055px) {
  .container {
    gap: 32px;
  }
  .container h1 {
    font-size: 42px;
  }
  .img-container {
    height: 250px;
  }
  img {
    height: 100%;
  }
  .form-container {
    width: 75vw;
  }
  form {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 672px) {
  .animate-text-container {
    display: none;
  }
}

@media screen and (min-width: 1055px) {
  .animate-text-container {
    display: flex;
  }
}

@media screen and (max-width: 670px) {
  .container {
    gap: 32px;
  }
  .container h1 {
    font-size: 36px;
  }
  .img-container {
    height: 230px;
  }

  img {
    height: 100%;
  }
  .animate-text-container {
    font-size: 12px;
  }
  .form-container {
    width: 100vw;
    padding: 0px 20px;
  }
  input {
    font-size: 12px;
  }
  button {
    font-size: 12px;
  }
}
